<div id="GastoDatos">
  	<div id="box">
		<div id='NuevoGasto'>
			<%= render :partial => 'form', :locals => {:table => false} %>
		</div>
	</div>
</div>
<%= render :partial => 'redbox_for_new_project' %>
<%= render :partial => 'redbox_for_new_expense_type' %>
