<% form_tag(:action => 'accounts_reminder') do %>
<p class="Text13Grey">
  <span class="Title14Orange">email:</span><br />
  <input type="text" name="email" size="40" class="formField" />
</p>
<p class="Text13Grey">
  <span class="CellTablebuttonL">
    <input type="submit" class="button" value="Solicitar datos" />
  </span>
</p>
<% end %>
